In [16]:
import pandas as pd

In [17]:
df = pd.Series([1, "Tamer", 3])
print(df)

0        1
1    Tamer
2        3
dtype: object

In [18]:
pd.__version__

'2.2.3'

In [19]:
print(df[1])

Tamer

In [20]:
data = pd.Series([100, 200, 300], index=["x", "y", "z"])
print(data)

x    100
y    200
z    300
dtype: int64

In [21]:
print(data["y"])

200

In [22]:
data = {
    "Name": ["John", "Anna", "Peter"],
    "Age": [25, 30, 35]
}

df = pd.DataFrame(data)
print(df)

    Name  Age
0   John   25
1   Anna   30
2  Peter   35

In [23]:
print(df.loc[2])

Name    Peter
Age        35
Name: 2, dtype: object

In [24]:
print(df.head(2))

   Name  Age
0  John   25
1  Anna   30

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None